{{define "content"}}
<div class='container'>
	<div class="row">
		<div class='col-md-9 col-md-offset-1'>
			<center>
			<br>
			<br>
			<br>
			<h3>About</h3>
			<p>
				PBA Health is a pharmacy services organization dedicated to the business of independent community pharmacy. We know that running a pharmacy is different than operating any other business out there. That’s why we deliver business products and services designed to help independently owned pharmacies stay successful.
			</p>
			<hr>
			</center>
		</div>
	</div>
	<div class="row">
		<div class='col-md-9 col-md-offset-1'>
		<span>
		<h3>Who we are.</h3>
		<p class='about_text pull-left'>
			At PBA Health, we have a personal dedication to produce the best results for our customers, an emphasis on quality and integrity, and a focus on carefully selecting business partners we believe share these values.
			PBA Health was founded in 1983 as a buying group, but today we do so much more than that. We want to help you create a better all-around pharmacy business. And we offer the products and services to get you there. We serve independent community pharmacies, independent retail pharmacy chains and institutional pharmacies across the country.
			
		</p>
		</span>
		<img src="./images/img_about01.jpg" class='pull-right about_img'>
		<div class="hr_clearboth">
			<hr>
		</div>
		</div>
	</div>
	<div class="row">
		<div class='col-md-9 col-md-offset-1'>
		<h3 class='padding-left-77'>What we do.</h3>
		<p class='about_text pull-right'>
			We’re experts in pharmacy business. From buying solutions that increase profits to PBM contracting services, prescription discount card programs, electronic claims reconciliation, pharmacy marketing and more, we’re here to help you improve your pharmacy business.
			We also operate our own VAWD- and HDMA-certified full-service warehouse with more than 6,000 SKUs, including brands, generics, narcotics CII-CV, cold-storage products and OTCs.
		</p>
		<img src="./images/img_about02.jpg" class='pull-left about_img'>
		<div class="hr_clearboth">
			<hr>
		</div>
		</div>
	</div>
	<div class="row">
		<div class='col-md-9 col-md-offset-1'>
		<center>
		<h3>Better business. Better pharmacy.</h3>
		<p>
		We’re constantly looking at ways to help independent community pharmacies improve in the ever-changing marketplace. Let us help the business side of your pharmacy run smoother and more profitably, so you can focus on what matters—caring for your patients.
		</p>

		<br>
		<br>
		<strong>Watch our video.</strong>
		<br>
		<iframe src="//player.vimeo.com/video/48466932" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<br>
		</center>
		</div>
	</div>
</div>

<style>

.padding-left-77{
	padding-left: 77%;
}

.about_text{
	width: 300px;
}

.about_img{
	height: 250px;
}

.hr_clearboth{
	clear: both;
	padding-top: 1%;
}

</style>



{{end}}
